[Unit]
Description=Robot Config Service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
User=root
WorkingDirectory=/opt/robot-config-service
ExecStart=/usr/bin/python3 /opt/robot-config-service/robot_config_service.py
StandardOutput=journal
StandardError=journal

EnvironmentFile=/etc/default/robot-config-service

[Install]
WantedBy=multi-user.target
