
export RCS_GIT_REPO={{ rcs_git_repo }}
export RCS_GH_TOKEN={{ rcs_gh_token }}

export RCS_HUBCONTROLLER_USER={{ rcs_hubcontroller_user }}
export RCS_HUBCONTROLLER_PASSWORD={{ rcs_hubcontroller_password }}