---
- name: Get all container images
  ansible.builtin.command:
    cmd: podman images --format "json"
  register: container_images_raw

- name: Parse JSON and convert to YAML-friendly list
  ansible.builtin.set_fact:
    all_images: "{{ container_images_raw.stdout | from_json | map(attribute='Names') | flatten | list }}"

- name: Following images will be removed
  ansible.builtin.debug:
    msg: "{{ all_images | reject('regex', '^quay.io/') | reject('regex', '^k8s.gcr.io/') | list }}"

- name: Remove usless images
  ansible.builtin.command:
    cmd: podman rmi -f {{ item }}
  loop: "{{ all_images | reject('regex', '^quay.io/') | reject('regex', '^k8s.gcr.io/') | list }}"