---
- name: Stop microshift
  ansible.builtin.systemd_service:
    state: stopped
    name: microshift.service

- name: Clean /var/lib/microshift
  ansible.builtin.file:
    state: absent
    path: /var/lib/microshift

- name: Check / configure /etc/hosts (robot.local, $inventoryname.lan)
  ansible.builtin.lineinfile:
    path: /etc/hosts
    regexp: 'robot\.local'
    line: "{{ ansible_host }} robot.local {{ ansible_hostname.split('.') | first }}.lan {{ ansible_hostname }}"

- name: Creating Microshift config
  ansible.builtin.copy:
    dest: "/etc/microshift/config.yaml"
    content: |
      cluster:
        domain: apps.{{ ansible_hostname }}

- name: Create /var/lib/microshift/manifests
  ansible.builtin.file:
    path: /var/lib/microshift/manifests
    state: directory
    mode: '0755'

- name: Creating /var/lib/microshift/manifests/pin-triton.yaml
  ansible.builtin.copy:
    dest: "/var/lib/microshift/manifests/pin-triton.yaml"
    content: |
      apiVersion: v1
      kind: Pod
      metadata:
        name: pin-triton-server
        namespace: default
      spec:
        priorityClassName: system-node-critical
        containers:
          - name: triton
            image: quay.io/cloud-native-robotz-hackathon/tritonserver:24.08-py3
            imagePullPolicy: Never
            resources:
              limits:
                memory: "28Mi"
                cpu: "200m"
              requests:
                memory: "28Mi"
                cpu: "200m"
            command:
              - "/bin/sh"
              - "-c"
              - "sleep infinity"
        restartPolicy: Never

- name: Creating /var/lib/microshift/manifests/kustomization.yaml
  ansible.builtin.copy:
    dest: "/var/lib/microshift/manifests/kustomization.yaml"
    content: |
      apiVersion: kustomize.config.k8s.io/v1beta1
      kind: Kustomization
      resources:
        - pin-triton.yaml

- name: Start microshift
  ansible.builtin.systemd_service:
    state: started
    name: microshift.service

- name: Wait for /var/lib/microshift/resources/kubeadmin/kubeconfig
  ansible.builtin.wait_for:
    path: /var/lib/microshift/resources/kubeadmin/kubeconfig
    state: present
    msg: Timeout to find file kubeconfig

- name: ~/.kube/
  ansible.builtin.file:
    state: directory
    path: ~/.kube/

- name: Install kubeconfig to root user
  ansible.builtin.copy:
    src: "/var/lib/microshift/resources/kubeadmin/kubeconfig"
    dest: "~/.kube/config"
    remote_src: yes

- name: Wait for api
  ansible.builtin.wait_for:
    port: 6443

- name: Wait for node to be ready
  kubernetes.core.k8s:
    definition:
      apiVersion: v1
      kind: Node
      metadata:
        name: "{{ ansible_hostname }}"
    wait: yes
    wait_condition:
      type: Ready
      status: "True"
      reason: KubeletReady

- name: Info
  ansible.builtin.debug:
    msg: "Run export KUBECONFIG=kubeconfig-{{ ansible_hostname }}; to have oc/kubectl access."
